@import '../../styles.less';

.toolbar-container {
    .toolbar {
        z-index: 0;

        &.upper{
            background-color: @toolbar-upper;
            height: @toolbar-height * 0.5;
            justify-content: space-between;
        }
 
        &.lower{
            background-color: @toolbar-lower;
            height: @toolbar-height * 0.5;
        }
    }

    .logo {
        z-index: 1;
        margin-top: @toolbar-height * 0.5;
        img {
            height: 60px;
        }
    }
    
    .actions {
        z-index: 1;
        color: #fff;
        margin-top: @toolbar-height * 0.5;
    
        button {

            &:last-of-type{
                margin-left: 1rem;
            }
        }
    }
}



