<mat-toolbar class="toolbar" color="primary">
    <div class="logo">
        <img src="../../../assets/icons/space_logo.webp" alt="logo">
    </div>
    <div class="actions">
        <button mat-icon-button type="button" disableRipple="true" routerLink="/homepage">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button type="button" disableRipple="true" routerLink="/basket">
            <mat-icon>shopping_basket</mat-icon>
        </button>
    </div>
  </mat-toolbar>
