@import '../../styles.less';

.basket {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    width: 300px;
    border-radius: 1rem;
    background-image: linear-gradient(to bottom, #132a43, #12344f, #103e5b, #0a4966, #005471);

    .shopping-basket-toolbar {
        display: flex;
        justify-content: center;
        margin: 1rem 0 0 0;
        padding-bottom: 5px;
        color: white;
    }

    .shopping-basket-content {
        padding: 5px 5px 0 5px;
        background-image: linear-gradient(to right,  #726CAE, #A89FE6, #726CAE), 
                          linear-gradient(to bottom, #726CAE, transparent), 
                          linear-gradient(to bottom, #726CAE, transparent);
        border-radius: 1%;
        background-size: 100% 5px, 5px 100%, 5px 100%;
        background-position: center top, left center, right center;
        background-repeat: no-repeat;

        table {
            background-color: @toolbar-lower;
            td, th, tr {
                color:white;
            }
        }
    }
}