@import '../../styles.less';

mat-sidenav-content{
    width: 90%;
}

.basket {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 70;
    right: 0;
    width: 300px;
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom, @dark-blue, @light-blue);

    .shopping-basket-toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: @toolbar-height * 0.75;
        color: white;

        h4 {
            margin: 0;
        }
    }

    .shopping-basket-content {
        padding: 5px 5px 0 5px;
        background-image: linear-gradient(to right,  #726CAE, #A89FE6, #726CAE), 
                          linear-gradient(to bottom, #726CAE, transparent), 
                          linear-gradient(to bottom, #726CAE, transparent);
        border-radius: 0.25rem;
        background-size: 100% 5px, 5px 100%, 5px 100%;
        background-position: center top, left center, right center;
        background-repeat: no-repeat;
        background-clip: border-box;

        .shopping-basket-table {
            background-color: @light-blue;
            td, th, tr {
                text-align: center;
                color:white;
            }
        }
    }
}