<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Shopping Basket</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemsInBasket">
                                <td>{{item.name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.price | currency}}</td>
                                <td>{{item.total | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
