/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Playfair Display, serif;
    background-image: linear-gradient(to top, #1f2572, #10286b, #042a63, 
                                              #022b5a, #082b50, #0a2c4e, 
                                              #0e2d4b, #112e49, #0e314d, 
                                              #0b3451, #063855, #003b59);
}

/* Global variables */
@toolbar-upper: #132A43;
@toolbar-lower: #005471;
@toolbar-height: 70px;